<a href="https://colab.research.google.com/github/Abdullahmajid1/Python-Control-Flow/blob/main/Dream_Premier_League.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <u>Dream Premier League (DPL)</u>

### A match of DPL is going on. Team Aravali has a made score of **195** for **7** in **20** overs and the opponent Team Shivalik is doing some analytics to find out what they need to do to win. You are the Data Scientist of the Team Shivalik and you have been asked to help them.

## <u>Problem 1</u>

###Team Shivalik has stored the runs made by Team Aravali players in the following dictionary.

In [102]:
aravali ={ "Dhoni":25, "Virat":31, "Pollard":11, "Rohit": 0, "Maxwell":12, "Sachin":59, "Sehwag":12 }

### Get the list of all players in Team Aravali

In [3]:
# Get the list of players in Team Aravali
aravali_team=list(aravali.keys())
print(aravali_team)

['Dhoni', 'Virat', 'Pollard', 'Rohit', 'Maxwell', 'Sachin', 'Sehwag']

## <u>Problem 2</u>

### By mistake, the runs made by Rohit was recorded as <code>0</code>. Your next task is to figure out how many runs were made by Rohit and update the dictionary

In [103]:
# We know the total runs
team_runs=195
Rohit_runs=0
for score in aravali.values():
  Rohit_runs+=score

final_Rohit_runs=team_runs-Rohit_runs

In [104]:
# Print runs scored by Rohit
final_Rohit_runs

45

In [11]:
# Update the dictionary with correct value of runs
aravali.update({'Rohit':Rohit_runs})
print(aravali)

{'Dhoni': 25, 'Virat': 31, 'Pollard': 11, 'Rohit': 45, 'Maxwell': 12, 'Sachin': 59, 'Sehwag': 12}

## <u>Problem 3</u>

#### Your next task is to find out scored the second highest runs in Team Aravali

In [75]:
# Your code below

second_highest_runs= sorted(list(aravali.values()))
print(f'Second highest runs scored is {second_highest_runs[-2]}')

Second highest runs scored is 45

## <u>Problem 4</u>

#### Just out of curiosity, you want to find out the unique runs made by Team Aravali players.

In [16]:
# Your code below
run_set =set(aravali.values())

In [17]:
# Print the unique runs
run_set

{11, 12, 25, 31, 45, 59}

## <u>Problem 5</u>
#### Team Shivalik has 6 fixed players and 5 slots for players who are playing good currently. Create two collections using appropriate data structure to write this 6 fixed and 5 mutable players. You can choose any player you want.

#### Available Players in the squad :
<code>['Vijay', 'Lasith', 'Dravid', 'Smith', 'Ambati', 'Hardik', 'Sushant', 'Mandeep', 'Harbhajan', 'Yuvraj', 'Jadeja','Rajeev','Amrit']

In [66]:
# Your code below
fixed =('Vijay', 'Lasith', 'Dravid', 'Smith', 'Ambati', 'Hardik')
mutable =['Sushant', 'Mandeep', 'Harbhajan', 'Yuvraj', 'Jadeja']

In [65]:
# Print them on same line using comma to seperate them approach 1
all_players =''

for player in fixed:
    all_players+=player+' ,'
for player in mutable:
    all_players+=player+' ,'
print(all_players)

Vijay ,Lasith ,Dravid ,Smith ,Ambati ,Hardik ,Sushant ,Mandeep ,Harbhajan ,Yuvraj ,Jadeja ,

In [67]:
# Print them on same line using comma to seperate them approach 2
mutable.extend(fixed)

all_player=', '.join(mutable)
print(all_player)

Sushant, Mandeep, Harbhajan, Yuvraj, Jadeja, Vijay, Lasith, Dravid, Smith, Ambati, Hardik

## <u>Problem 6</u>
Try changing fixed player and mutable player

In [80]:
# Change fixed player
fixed[1]='Mandeep'

TypeError: 'tuple' object does not support item assignment

In [82]:
# Change mutable player
mutable[1]='Mandeep'
mutable

['Sushant',
 'Mandeep',
 'Harbhajan',
 'Yuvraj',
 'Jadeja',
 'Vijay',
 'Lasith',
 'Dravid',
 'Smith',
 'Ambati',
 'Hardik']

## <u> Problem 7</u>

#### Find out the runrate required for Team Shivalik to win (for 20 overs)<br>
#### Hint: Runrate is runs required per over to win the match

In [105]:
# Your code here
runrate = (team_runs+1)/20

In [106]:
# Print the run rate
runrate

9.8

## <u> Problem 8</u>
#### You have just received a secret message form your informant stating that some players of the other team are into match fixing. You have to decode a message and inform authorities about it.<br>

#### You received a string **"skdlfjnvuerhw qefnnaosfu qrhviudhfv wuirhv adknlkxjcier vafuvhkajn iuvhsf vasuif KJSHFKJ aeuihvasf akjfhiufe"** and index of "i" are going to be "no balls".


### Find the first and last no ball from the string.

In [117]:
#First no ball
message = "skdlfjnvuerhw qefnnaosfu qrhviudhfv wuirhv adknlkxjcier vafuvhkajn iuvhsf vasuif KJSHFKJ aeuihvasf akjfhiufe"

print(f'First no ball',message.find('i')+1)

# Last no ball
print(f'Last no ball', len(message)-message[::-1].find('i'))

First no ball 30
Last no ball 105